 <header>
        <a href="">{{ownerName}}</a>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about"></a>ABOUT</li>
                <li>SERVICES</li>
                <li>TESTIMONIALS</li>
                <li>CONTACT</li>
            </ul>
        </nav>
    </header>